### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#JavaScript deps
bower_components
node_modules


#IDE
*.iml
/devenv/nodejs_proxy/.bowerrc
/devenv/nodejs_proxy/.npmrc
/devenv/nodejs_proxy/.tsdrc
/faq-service-app/js_build.sh
/faq-service-app/bower.sh
/faq-service-app/grunt.sh
.idea

# Logs
tsd-debug.log

# Ignore generated
*.js.map
Application.js
AlertController.js
_SpecRunner.html
.grunt
